{{#each data}}
    
    <tbody>
        <tr>
        <th>
            <p>bạn có thể dowload file tại đây<a href="/download/{{_id}}"> {{nameFile}}</a></p>
            <iframe src="/{{filePath}}" height="100%" width ="100%"></iframe>
        </th>
    </tbody>

{{/each}}